@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@tailwind base;
@tailwind components;

.main-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.bg-white-gradient {
    background: rgba(255, 255, 255, 0);

    &:hover {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
    }
}

.content-section {
    @apply bg-white p-4 mx-2 my-4 shadow overflow-auto;

    h1 {
        @apply font-serif font-semibold text-blue-900 text-2xl pb-2 mb-2 border-b border-blue-200 text-shadow;
    }

    p:not(:last-child) {
        @apply mb-4;
    }

    strong {
        @apply font-semibold;
    }

    a {
        transition: color 0.5s ease;
    }

    p a {
        @apply text-blue-900 font-semibold;

        &:hover {
            @apply text-black;
        }
    }
}

footer a {
    @apply font-semibold text-white-80;

    transition: color 0.5s ease;

    &:hover {
        @apply text-white underline;
    }
}

.transition-bg {
    transition: background 0.5s ease;
}

.toasted {
    font-size: 1rem !important;
    width: 100% !important;
    max-width: 500px !important;
    font-weight: 600 !important;
    padding: 0.75rem !important;
    border-radius: 0.25rem !important;
}

@responsive {
    .text-shadow {
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
    }

    .text-shadow-md {
        text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-lg {
        text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
    }

    .text-shadow-none {
        text-shadow: none;
    }
}

.tooltip {
    @apply block z-50 shadow-xl;
}

.tooltip .tooltip-inner {
    @apply rounded p-1 text-sm bg-gray-800 text-white;
}

.tooltip[x-placement^="top"] {
    @apply mb-1;
}

.tooltip[x-placement^="bottom"] {
    @apply mt-1;
}

.tooltip[x-placement^="left"] {
    @apply mr-1;
}

.tooltip.popover .popover-inner {
    @apply rounded p-1 text-sm bg-gray-800 text-white;
}

.tooltip.popover .popover-arrow {
    border-width: 8px;
}

.tooltip[aria-hidden='true'] {
    @apply invisible opacity-0;
    transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
    @apply visible opacity-100;

    transition: opacity .15s;
}

@tailwind utilities;
