@import 'tailwindcss';

@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.ts';
@source '../**/*.vue';

@theme {
    --breakpoint-xs: 550px;

    --color-primary: #1f4e79;

    --font-sans: 'Open Sans';
    --font-serif: 'Rock Salt';
}

@layer components {
    p.prose {
        line-height: 1.6;
        margin-bottom: 10px;
    }

    p.prose:last-of-type {
        margin-bottom: 0;
    }

    p.prose a {
        color: var(--color-primary);
        font-weight: var(--font-weight-semibold);
        transition: all;
    }

    p.prose a:hover {
        color: var(--color-black);
    }
}
