@import 'tailwindcss';

@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.ts';
@source '../**/*.vue';

@theme {
    --breakpoint-xs: 550px;

    --color-primary: #1f4e79;

    --font-sans: 'Open Sans';
    --font-serif: 'Rock Salt';
}

@layer components {
    .prose p {
        line-height: 1.6;
        margin-bottom: 10px;
    }

    .prose p:last-of-type {
        margin-bottom: 0;
    }

    .prose p a {
        color: var(--color-primary);
        font-weight: var(--font-weight-semibold);
        transition: all;
    }

    .prose p a:hover {
        color: var(--color-black);
    }
}
